server {
    listen 80;
    resolver 127.0.0.11;

    access_log /var/log/nginx/access.log proxy_access;

    location = /health {
        if ($remote_addr = 127.0.0.1) {
            access_log off;
            return 200;
        }
        try_files "" @forward;
    }
    location / {
        try_files "" @forward;
    }
    location @forward {
        include /etc/nginx/conf/forward.conf;
    }
}

server {
    listen 443 ssl;
    resolver 127.0.0.11;

    access_log /var/log/nginx/access.log proxy_access;

    ssl_certificate /etc/nginx/certs/localhost.crt;
    ssl_certificate_key /etc/nginx/certs/localhost.key;

    location / {
        try_files "" @forward;
    }
    location @forward {
        include /etc/nginx/conf/forward.conf;
    }
}
